.progress-bar { 
	border: 1px solid #56577A; 
	width: 100px; 
	margin: 5px; 
	padding: 1px; 
	background: #fff; 
	float: left; 
	text-align: center;
	vertical-align: middle
   }
   .bar{
	height: 1em; 
   }
   .percent{
	position: absolute; 
	text-align: center; 
	padding-top: .075em; 
	width: 100px; 
   }